* {
  /* `otf-font-awesome` is required to be installed for icons */
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 5px;
  margin-left: 0px;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
  /* border-radius: 10px; */
}

window#waybar {
  /* border-radius: 10px; */
  /* background-color: rgb(128, 128, 128); */
  background-color: transparent;
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  padding-left: 20px;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window .title {
  background-color: rgb(250, 250, 250);
}

#window {
  background-color: rgb(78, 81, 111);
  color: rgb(250, 250, 250);
  padding-left: 10px;
  padding-right: 10px;
}

window .layout {
  background-color: rgb(250, 250, 250);
  min-width: 70px;
}

#workspaces {
  background-color: transparent;
  /* border: 1px solid rgb(250, 250, 250); */
  border-radius: 4px;
  /* padding: 2px; */
}

#workspaces button {
  background-color: #222;
  color: rgba(250, 250, 250, 0.6);
  border-radius: 6px;
}

#workspaces button.persistent {
  background-color: rgba(20, 230, 100, 0.5);
  color: rgb(250, 250, 250);
  font-weight: bold;
}

#workspaces button.persistent {
  background-color: rgba(78, 81, 111, 0.5);
  color: rgb(250, 250, 250);
  font-weight: bold;
}

#workspaces button.special {
  background-color: rgb(65, 99, 105);
  border: 2px solid rgba(20, 130, 200, 1);
  color: rgba(211, 212, 220, 1);
  font-weight: bold;
}

#workspaces button.active {
  background-color: rgba(78, 81, 111, 1);
  color: rgb(250, 250, 250);
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */

#pulseaudio {
  background-color: black;
  border-radius: 6px 0px 0px 6px;
  color: rgba(20, 130, 200, 1);
  margin: 0;
  padding: 6px;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}
#pulseaudio:hover {
  background-color: #a37800;
}

#pulseaudio-slider {
  padding: 0;
  margin: 0;
  background: black;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  padding: 0;
  margin: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background: black;
}
#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 5px;
  background: rgba(20, 130, 200, 1);
  margin: 0;
  padding: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
/* #pulseaudio, */
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #ffffff;
  background-color: rgba(78, 81, 111, 1);
}

#window,
#hyprland-workspaces {
  /* margin: 0 2px; */
  border-radius: 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(78, 81, 111, 1);
  background-color: rgb(229, 230, 241);
  border-radius: 4px;
}

#mpris {
  background-color: rgba(0, 0, 0, 0.7);
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

#battery {
  background-color: #ffffff;
  color: rgb(250, 250, 250);
}

#battery.charging,
#battery.plugged {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: rgb(250, 250, 250);
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: rgb(250, 250, 250);
}

label:focus {
  background-color: rgb(250, 250, 250);
}

#cpu {
  color: rgba(78, 81, 111, 1);
  background-color: rgb(6, 41, 1);
}

#memory {
  color: rgb(211, 212, 220);
  background-color: rgb(59, 7, 219);
}

#disk {
  background-color: #964b00;
}

#backlight {
  background-color: #90b1b1;
}

#network {
  background-color: rgb(250, 250, 250);
}

#network.disconnected {
  color: red;
}

#wireplumber {
  background-color: #fff0f5;
  color: rgb(250, 250, 250);
}

#wireplumber.muted {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#custom-keymode {
  border-radius: 10px;
  min-width: 70px;
  font-weight: bold;
  padding: 0 10px;
  border-radius: 0px;
}

#custom-keymode.default {
  background-color: rgba(78, 81, 111, 0.1);
  color: #ffffff;
}

#custom-keymode.not-default {
  background-color: yellow;
  color: black;
}

#custom-current_layout {
  min-width: 60px;
  font-weight: bold;
  padding: 0px 10px;
  border-radius: 4px;
  margin-left: 6px;
}

#custom-current_layout.scroller {
  background-color: teal;
  color: white;
}

menu {
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
  color: #ffffff;
}

menuitem {
  border-radius: 6px;
}

#custom-current_layout.monocle {
  background-color: #222;
  color: rgba(78, 81, 111, 0.8);
}

#custom-current_layout.r_tile {
  background-color: purple;
  color: white;
}

#custom-current_layout.deck {
  background-color: brown;
  color: white;
}

#custom-current_layout.vertical_deck {
  background-color: brown;
  color: white;
}

#custom-current_layout.vertical_tile {
  background-color: grey;
  color: white;
}

#custom-current_layout.vertical_scroller {
  background-color: cyan;
  color: black;
}

#custom-current_layout.center_tile {
  background-color: #2980b1;
  color: black;
}

#custom-current_layout.tile {
  background-color: maroon;
  color: white;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
  background-color: rgb(1, 35, 41);
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  color: rgb(250, 250, 250);
  background-color: rgb(78, 81, 111);
}

#idle_inhibitor.activated {
  background-color: #111;
  color: #eb4d4b;
}

#mpd {
  font-size: 1rem;
  min-width: 398px;
  background-color: rgba(10, 10, 10, 0.8);
  color: rgba(78, 81, 111, 1);
  border: 1px solid rgba(78, 81, 111, 1);
  border-radius: 6px;
  padding: 0 5px;
  margin: 0 5px;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  color: #000;
  background-color: transparent;
}

#mpd.paused {
  background-color: rgba(78, 81, 111, 0.1);
  color: rgba(78, 81, 111, 0.2);
  border: 1px solid rgba(78, 81, 111, 0.2);
  border-radius: 6px;
  padding: 0 5px;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: rgb(250, 250, 250);
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}

#custom-current_layout.dwindle {
  background-color: rgb(250, 250, 250);
  color: #bb96da;
}

#custom-current_layout.scrolling {
  background-color: rgb(250, 250, 250);
  color: rgba(78, 81, 111, 0.8);
}

#custom-current_layout.master {
  background-color: rgb(250, 250, 250);
  color: #524e4a;
}
